.form-login{
  border: #ccc solid 1px;
  margin-top: 80px;
  padding: 20px 0;
}

.formulario-class{
  border: #ccc solid 1px;
  padding: 20px;
}

.tabela-usuarios th{
  background: #e7e7e7;
  text-align: center;
}

.btn-table{
  width: 5%;
  text-align: center;
}

.form-anexo{
  border: #ccc solid 1px;
  padding: 20px;
}

.form-anexo header{
  border-bottom: #ccc solid 1px;
  margin-bottom: 20px;
  text-align: center;
  padding:0 0 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.interacoes-grid{
  border:#ccc solid 1px;
  margin-bottom: 15px;
}

.title-interact{
  padding: 8px 15px;
  background: #eaeaea;
}

.obs{
  padding: 10px 15px;
}

.caminho-arquivo{
  padding: 5px 15px;
  background: #666666;
  color: #fff;
}

.nav-lateral{
}

.nav-lateral a:hover{
  background: #0f75bc !important;
  color: #fff;
}
